.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  row-gap: 3rem;
}
h1.text-center {
  margin-top: 1rem;
}
h2.text-center {
  margin: 1.5rem 0;
  margin-top: 3rem;
}
input.coupon,
#product-quantity {
  width: 7rem;
  display: inline-block;
  margin: 1rem;
}
#product-quantity {
  width: 2.5rem;
  margin: 0;
}
.product-info {
  display: flex;
  justify-content: space-between;
}
#no-item {
  padding-left: 5rem;
}
#product-name {
  width: 7rem;
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 776px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .products-container {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    align-content: center;
  }
}
