/* google font link  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,800&family=Work+Sans:wght@400;500;600;700;900&display=swap');

/* common shared styles */
* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
body {
  margin: 0;
}
img {
  width: 100%;
}
label {
  color: #4f4f4f;
  font-weight: 500;
}
.bg-white {
  background-color: #fff;
  padding: 23px 33px;
  border-radius: 12px;
}
.title-1 {
  color: #4f4f4f;
  font-size: 24px;
  font-weight: 600;
}
.title-2 {
  color: var(--gray-2, #4f4f4f);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.title-3 {
  color: #333;
  font-size: 24px;
  font-weight: 500;
}
.title-4 {
  color: #333;
  font-weight: 600;
}
p {
  color: #828282;
  font-weight: 500;
}
.text-gray {
  color: #828282;
  font-weight: 500;
}
.btn {
  border-radius: 12px;
  background: #2f80ed;
  border: none;
  padding: 13px 30px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.btn-outline {
  background: white;
  border: 2px solid #2f80ed;
}
/* layout design */
.main-header {
  grid-area: main-header;
}
aside {
  grid-area: aside;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: green;
}
body {
  display: grid;
  background-color: #f2f2f2;
  gap: 32px;
  padding: 65px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 290px;
  grid-template-areas:
    'aside  main-header  main-header'
    'aside  main    main'
    'aside  main    main'
    'footer footer  footer';
  /* height: 100vh; */
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
/* .main-header section styles */
.main-header {
  display: flex;
  justify-content: space-between;
}
.main-header > * {
  flex: 1;
}
.skill-item {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.skills-container,
.desing-container {
  border-radius: 12px;
  max-width: 415px;
  height: fit-content;
}
.skills-container .title-2,
.desing-container .title-2 {
  margin-top: 2px;
}
.main-header progress {
  display: block;
  width: 18rem;
}
/* aside styles */
.about {
  padding: 32px;
}
.about .title-1,
.email {
  margin-bottom: 0;
}
.about .title,
.mobile {
  margin-top: 2px;
}
.developer-img {
  background-image: url('images/developer-img.jpg');
  background-position: center;
  height: 566px;
  background-size: cover;
  border-radius: 12px;
}
address p {
  color: var(--gray-2, #4f4f4f);
}
.about p {
  font-size: 18px;
  font-weight: 500;
}
